@import '../../style/variables';

.randomchar {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: 5px 5px 20px rgb(0 0 0 / 25%);

  &__block {
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
    padding: 40px 35px;
  }

  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  &__info {
    display: grid;
    grid-template-rows: minmax(29px, auto) 90px 38px;
    row-gap: 10px;
    padding-top: 3px;
  }

  &__name {
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__descr {
    font-size: 14px;
    line-height: 18px;
  }

  &__btns {
    a:nth-child(1) {
      margin-right: 30px;
    }
  }

  &__static {
    position: relative;
    padding: 40px 35px;
    background-color: $dark;

    button {
      margin-top: 13px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #fff;
    letter-spacing: -0.045em;

    &:nth-child(2) {
      margin-top: 33px;
    }
  }

  &__decoration {
    position: absolute;
    right: -37px;
    bottom: 14px;
  }
}

.loader {
  margin: 15px auto;
  text-align: center;
}

.contain {
  object-fit: contain;
}
